/* utils */
.flex {
  display: flex;
  align-items: center;
}

/* app */
.app-navbar input {
  flex: 1;
  max-width: 321px;
  padding: 5px 0;
  width: 190px;
  color: rgb(138, 138, 143);
  border-radius: 11px;
  background-color: #eaebed;
  height: 36px;
  padding: 8px 14px;
  font-size: 16px;
  font-weight: bold;
}
.app-navbar button {
  height: 36px;
  margin-left: -14px;
  height: 36px;
  border-radius: 0 11px 11px 0;
  background: #ff1744;
}
.app-navbar h1 {
  user-select: none;
  cursor: pointer;
}

.app-user {
  margin-top: 30px;
}
.app-user img {
  width: 100px;
  height: 100px;
  background: #8a8a8f;
  border-radius: 50%;
}
.app-user h5 {
  color: #b8b8ba;
}
.app-user a:hover {
  text-decoration: underline;
}
.app-container {
  padding-top: 113px;
}

/* override rc.css*/
.rc-navbar {
  position: fixed;
  top: 0;
  z-index: 1;
}
.rc-list-item {
  min-height: 64px;
}
.rc-list-item::after {
  left: 80px;
}
.rc-list-item img {
  width: 50px;
  height: 50px;
  background: #8a8a8f;
  border-radius: 50%;
  margin: 0 16px;
}
